.stats-card-stacks .collection-item-3:nth-child(2n) {
    position: relative;
    top: 50%;
}
.param-container {
    display: none!important;
    visibility: hidden!important;
}

.kf-stats{
  padding-top:32px!important;
  }

.hero-right-container {
	clip-path: inset(0% 100% 0% 0%);
}


section.prop-fixed-scroll .pfp-item {
	transform: translateY(30px);
	visibility: hidden;
	opacity: 0;
}
.gs-container{
    visibility: hidden;
	opacity: 0;
    transform: none !important;
    position: relative;
}

.select-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--indigo-200)!important;
}
  
.ff-box,
.ff-content,
.cl-logo,
.solutions-footnote,
.line-white,
.pl-logo-container.is-home {
    opacity: 0;
    visibility: hidden;
}
  
.lp-arrow.t-bg svg::hover {
    fill: #4561ec;
}
.lp-arrow.t-bg svg circle::hover, .lp-arrow.t-bg svg path::hover {
    stroke: #000;
}
.cta:hover {
    color: var(--indigo);
    background-color: rgba(0, 0, 0, 0);
}
.lp-ctahover {
    color: var(--indigo);
    background-color: rgba(0, 0, 0, 0);
}

.social-icons-div .sharing {
    transition: background-color 0.3s ease;
}

.social-icons-div .sharing:hover{
    background-color: #7E93FB;
}



/* @media only screen and (min-width: 768px) {
  .w-layout-blockcontainer.resources .res-items .w-layout-cell {
    opacity: 0;
    visibility: hidden;
  }
 } */

/* MARKETO FORM DESIGN */

.get-started-form .mktoFormRow h2{
    color: var(--black);
    letter-spacing: .8px;
    font-size: 40px !important;
}

.get-started-form .mktoHtmlText.mktoHasWidth{
    margin: 0!important;
}

.get-started-form .mktoFormRow:nth-of-type(2){
    margin-bottom: 24px;
}

.mktoFormRow h3, .mktoFormRow h2{
    color: var(--black);
    letter-spacing: .64px;
    font-family: Rentsans, sans-serif!important;
    font-size: 32px!important;
    line-height: 120%!important;
    font-weight:400!important;
    margin: 0 !important;
    padding: 0!important;
    }
    
    .mktoForm input{
        color: var(--373839) !important;
        letter-spacing: .28px!important;
        border-radius: 50px!important;
        margin-bottom: 12px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        padding-left: 16px !important;
        padding-right: 0 !important;
        font-family: Inter Tight, sans-serif!important;
        line-height: 120% !important;
        width: 100% !important;
        font-size: 14px !important;
        height: auto !important;
        border:0!important;
    }
    
    .mktoHtmlText.mktoHasWidth {
        margin-bottom: 24px;
        width: 100%!important;
        color: var(--373839)!important;
        letter-spacing: 0;
        font-family: Inter, sans-serif;
        font-size: 15.8px;
        line-height: 120%;
        width: 100% !important;
    }
    .mktoHtmlText.mktoHasWidth p {
        width: 100%!important;
        color: var(--373839)!important;
    }

    .mktoForm{
        width:100%!important;
    }
    .mktoForm .mktoOffset, .mktoForm .mktoGutter, .mktoForm .mktoRequiredField label.mktoLabel {
        display: none!important;
    }

    .mktoForm .mktoFormCol {
        width: 100%!important;
    }
    .mktoForm .mktoFieldWrap {
        width: 100%!important;
    }

    select#Contact_Us_Reason__c{
        color: var(--373839)!important;
        letter-spacing: .28px!important;
        border-radius: 50px!important;
        margin-bottom: 12px!important;
        padding-top: 12px!important;
        padding-bottom: 12px!important;
        padding-left: 16px!important;
        font-family: Inter Tight, sans-serif!important;
        line-height: 120%!important;
        border: 0!important;
        width: 100%!important;
        font-size: 14px !important;
    }

    .mktoForm .mktoError .mktoErrorMsg {
        background-color: #e53b25 !important;
        background-image: none !important;
        border: 1px solid #e53b25 !important;
        text-shadow: none!important;
        box-shadow: none!important;
    }
    .mktoForm .mktoError .mktoErrorArrow {
        background-color: #e53b25!important;
        border: 1px solid #e53b25!important;
    }

    .mktoForm button.global-cta {
        padding: 10px 18px!important;
    }
    
    .global-cta-icon svg {
        padding: 0!important;
    }
/* MARKETO FORM DESIGN */


/* TEMPLATE CAROUSEL */


.templates-carousel{
    width: 100%;
}
.templates-carousel .tmpl-content {
/* width: 100%; */
height: auto;
margin: 0 20px;
transition: opacity 0.5s ease, transform 0.5s ease;
width: 70vw!important;
max-width: 988px;
}
.templates-carousel img, .gallery-collection-top img, .gallery-collection-bottom img{
width: 100%;
}
.templates-carousel .owl-item.center .tmpl-content{
opacity: 1!important;
transform: scale(1); /* Slightly zoom in the center image */
}
.templates-carousel .owl-item .tmpl-content {
opacity: 0.5!important;
}
.templates-carousel .owl-item.prev .tmpl-content,
.templates-carousel .owl-item.next .tmpl-content {
opacity: 1!important;
}

.templates-carousel .owl-prev, .templates-carousel .owl-next {
position: absolute!important;
top: 50%!important;
transform: translateY(-50%)!important;
width: 72px!important;
height: 72px!important;
background-size: contain!important;
background-repeat: no-repeat!important;
background-position: center!important;
cursor: pointer!important;
border: 0px;
background-color: transparent;
margin: 0 5%;
}

@media only screen and (max-width: 767px) {
    .templates-carousel .owl-prev, .templates-carousel .owl-next {
        margin: 0;
        width: 40px!important;
        height: 40px!important;
    }   
    .templates-carousel .tmpl-content, .gallery-collection-top .tmpl-content, .gallery-collection-bottom .tmpl-content{
        width: 90vw!important;
    }
}

.templates-carousel .owl-prev {
left: 10px;
background-image: url('https://uploads-ssl.webflow.com/664bb28e4eaef6676bc7f01a/66be708865484b0097a9afa2_66a2c184ca2c5560236f9e52_arrow-left%20(1).svg')!important; /* Update the path */
}

.templates-carousel .owl-next {
right: 10px;
background-image: url('https://uploads-ssl.webflow.com/664bb28e4eaef6676bc7f01a/66be708ab04d58d9e628c74e_66a2c187470381de80745aa5_arrow-right%20(1).svg')!important; /* Update the path */
}
.templates-carousel .owl-stage,
.templates-carousel .owl-item, 
.gallery-collection-top .owl-stage,
.gallery-collection-top .owl-item,
.gallery-collection-bottom .owl-stage,
.gallery-collection-bottom .owl-item{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.gallery-collection-top .owl-stage, .gallery-collection-top .owl-item{
    align-items: flex-end;
}
.gallery-collection-bottom .owl-stage, .gallery-collection-bottom .owl-item{
    align-items: flex-start;
}

.templates-carousel.owl-loaded, .gallery-collection-top.owl-loaded, .gallery-collection-bottom.owl-loaded{
overflow: hidden;

}
.templates-carousel.owl-carousel, .gallery-collection-top.owl-carousel, .gallery-collection-bottom.owl-carousel{
display: block;
}

.templates-carousel .owl-nav, .templates-carousel.owl-dots {
    width: 100%;
    height: 100%;
    position: static!important;
}

.gallery-collection-top .owl-nav, .gallery-collection-top .owl-dots, .gallery-collection-bottom .owl-nav, .gallery-collection-bottom .owl-dots{
    display:none;
}

/* TEMPLATE CAROUSEL */

.kf-item-mobile.open .is-kf-mobile {
    display: block !important;
}

.kf-item-mobile.open .kf-tab-text-mobile{
    color: #000 !important;
}

.kf-item-mobile.open{
    border-bottom: 1px solid #000!important;
}

.content-carousel-w-icons .owl-item.active{
    opacity: 1;
}
.content-carousel-w-icons .owl-item{
    opacity: 0.5;
}  
.nav-dd-list-container .res-links code {
    color: var(--indigo-400)!important;
    font-family: 'Inter', sans-serif !important;
    font-size: 16px;
}

.nav-dd-list-container .collection-list-20 code {
    color: var(--indigo-400)!important;
    font-family:  'Rentsans', sans-serif!important;
}

.pr-links .pr-link-block code{
    color: var(--indigo-400)!important;
}
.nav-dd-list-container .rent-title-w-highlight p{
    margin: 0;
    padding: 0;
}
.rent-title-w-highlight code {
    color: var(--indigo);
    font-family: Rentsans, sans-serif!important;
    font-weight: 400!important;
}

img.about-thumbnail.featured-thumbnail{
    height: 100%!important;
}


/* START OF DARK MODE */

.dark-mode{
	background-color: var(--gray-700)!important;
}
.dark-mode .key-features-box, .dark-mode .hero-heading-center{
	background-color: var(--black);
}

.dark-mode .cta.cta-white{
    border-color: var(--white);
    color: #ffffff;
    background-color: transparent;
    background-image: url(https://uploads-ssl.webflow.com/664bb28e4eaef6676bc7f01a/66c67360cffcbe6be675ea7a_white-arrow.svg);
}

.dark-mode .cta.cta-white:hover{
    border-color: var(--indigo);
    background-color: var(--indigo);
}

.dark-mode div:not(.get-started-form-slider div), 
.dark-mode div strong:not(.get-started-form-slider div strong), 
.dark-mode p, 
.dark-mode h2:not(.get-started-form-slider h2), 
.dark-mode h1:not(.get-started-form-slider h1), 
.dark-mode h3:not(.get-started-form-slider h3), 
.dark-mode h4:not(.get-started-form-slider h4), 
.dark-mode .eyebrow:not(.get-started-form-slider .eyebrow) {
  color: var(--white)!important;
}


.dark-mode .global-cta:not(.get-started-form-slider .global-cta){
    border: var(--white);
    color: var(--indigo);
    background-color: var(--white);
}

.dark-mode p.global-cta-text:not(.get-started-form-slider p.global-cta-text), .dark-mode .whitebox-number{
    color: var(--indigo)!important;
}
.dark-mode .global-cta-icon svg circle:not(.get-started-form-slider .global-cta-icon svg circle) {
    fill: var(--indigo);
}
.dark-mode .global-cta-icon svg path:not(.get-started-form-slider .global-cta-icon svg path) {
    stroke: var(--white);
}

.dark-mode .global-cta:hover:not(.get-started-form-slider .global-cta:hover) {
    background-color: var(--indigo);
}
.dark-mode .global-cta:not(.get-started-form-slider .global-cta) {
    transition: background-color 0.3s ease;
}

.dark-mode .global-cta-text:not(.get-started-form-slider .global-cta-text),
.dark-mode .global-cta-icon svg circle:not(.get-started-form-slider .global-cta-icon svg circle),
.dark-mode .global-cta-icon svg path:not(.get-started-form-slider .global-cta-icon svg path) {
    transition: color 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
}

.dark-mode .global-cta:hover:not(.get-started-form-slider .global-cta:hover) {
    background-color: var(--indigo);
}

.dark-mode .global-cta:hover .global-cta-text:not(.get-started-form-slider .global-cta:hover .global-cta-text) {
    color: var(--white)!important;
}

.dark-mode .global-cta:hover .global-cta-icon svg circle:not(.get-started-form-slider .global-cta:hover .global-cta-icon svg circle) {
    fill: var(--white);
}

.dark-mode .global-cta:hover .global-cta-icon svg path:not(.get-started-form-slider .global-cta:hover .global-cta-icon svg path) {
    stroke: var(--indigo);
}

.dark-mode .cta-get-started-form.global-cta-text{
    color: var(--white);;
}
.dark-mode .cta-get-started-form.global-cta-text:hover{
    color: var(--indigo);;
}

.dark-mode .pl-logo-container img{
    filter: invert(100%);
}
.dark-mode .desktop-h3.is-lp{
    color: var(--indigo-400)!important;
}
.dark-mode .lp-inner {
    border-color: var(--black) !important;
    background-color: #000000;
}
.dark-mode .lp-overlay{
    background-image: linear-gradient(180deg, #fff0, var(--black) 70%);
}

.dark-mode .whitebox{
    background-color: var(--black);
    border-color: var(--black);
}

.dark-mode .get-started-form-slider div {
    color: initial;
}

.dark-mode .indigo-highlight{
    color: var(--indigo-400)!important;
}


/* END OF DARK MODE */
/* START OF LIGHT MODE */
.light-mode{
    background-color: var(--indigo-100)!important;
}
.footer.light-mode{
    background-color: var(--indigo-100)!important;
}

.light-mode .key-features-box, .light-mode .hero-heading-center, .light-mode .solutions{
	background-color: var(--indigo-100)!important;
}
.light-mode .faq-item, .light-mode .faq-body{
    background-color: var(--white)!important;
}
.light-mode .sol-item, .light-mode .stat-card-div
{
    background-color: var(--white);
}

.light-mode .solutions.solutions-carousel{
    background-color: var(--indigo-100)!important;
}

.light-mode .faq-icon svg circle{
    stroke: var(--black);
}
.light-mode .faq-icon svg path{
    fill: var(--black);
}
.light-mode .line-white-stats{
    background-color: var(--black);
}

.footer.light-mode {
    border-top: 1px solid var(--indigo);
}

.light-mode div, 
.light-mode div strong, 
.light-mode p, 
.light-mode h2, 
.light-mode h1, 
.light-mode h3, 
.light-mode h4, 
.light-mode h5,
.light-mode h6,
.light-mode .eyebrow,
.light-mode .footer-link,
.light-mode .listitem a,
.light-mode .link-5{
  color: var(--black)!important;
}

.light-mode .desktop-h3.is-lp{
    color: var(--indigo-400)!important;
}

.light-mode a.global-cta.white.w-inline-block{
    border-color: var(--indigo) !important;
}
.light-mode .lp-inner {
    border-color: var(--white) !important;
    background-color: #ffffff;
}

.light-mode .whitebox{
    background-color: var(--white);
    border-color: var(--white);
}

.light-mode .indigo-highlight{
    color: var(--indigo)!important;
}

.light-mode .global-cta {
    background-color: transparent;
}
.light-mode .global-cta-text{
    color: var(--indigo)!important;
}
.light-mode .global-cta circle{
    fill: var(--indigo);
}
.light-mode .global-cta path{
    stroke: var(--white);
}

.light-mode .global-cta:hover {
    background-color: var(--indigo);
}
.light-mode .global-cta:hover .global-cta-text{
    color: var(--white)!important;
}
.light-mode .global-cta:hover circle{
    fill: var(--white)!important;
}
.light-mode .global-cta:hover path{
    stroke: var(--indigo)!important;
}
.light-mode .global-cta, .light-mode .global-cta .global-cta-text, .light-mode .global-cta circle, .light-mode .global-cta path{
    transition: background-color 0.3s ease;
}
.light-mode .cta.w-button{
    border: 1px solid var(--indigo);
    color: var(--indigo)!important;
    background-color: transparent;
    background-image: url(https://cdn.prod.website-files.com/664bb28e4eaef6676bc7f01a/664faa2a8ba0b955ed6066cb_Group%20422.svg);
}

.light-mode .cta.w-button:hover{
    color: var(--white)!important;
    background-color: var(--indigo);
    background-image: url(https://cdn.prod.website-files.com/664bb28e4eaef6676bc7f01a/664bcac6d7096d06c64a8b07_Group%20422.svg);
}

/* END OF LIGHT MODE */

.legal-nav-space:last-of-type {
    /* display: none; */
  }

  @media print {
    .navbar_component, .footer {
      display: none!important;
    }
    .light-content.privacy-policy{
        padding-top: 0px;
    }
    @page {
        margin: 1in 0 !important
      }
  }
  