.stats-card-stacks .collection-item-3:nth-child(2n) {
    position: relative;
    top: 50%;
}
.param-container {
	display: none;
}

.kf-stats{
  padding-top:32px!important;
  }

.hero-right-container {
	clip-path: inset(0% 100% 0% 0%);
}

.gs-container,
section.prop-fixed-scroll .pfp-item {
	transform: translateY(30px);
	visibility: hidden;
	opacity: 0;
}
.select-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--indigo-200)!important;
}
  
.ff-box,
.ff-content,
.cl-logo,
.solutions-footnote,
.line-white,
.pl-logo-container.is-home {
    opacity: 0;
    visibility: hidden;
}
  
.lp-arrow.t-bg svg::hover {
    fill: #4561ec;
}
.lp-arrow.t-bg svg circle::hover, .lp-arrow.t-bg svg path::hover {
    stroke: #000;
}
.cta:hover {
    color: var(--indigo);
    background-color: rgba(0, 0, 0, 0);
}
.lp-ctahover {
    color: var(--indigo);
    background-color: rgba(0, 0, 0, 0);
}

.social-icons-div .sharing {
    transition: background-color 0.3s ease;
}

.social-icons-div .sharing:hover{
    background-color: #7E93FB;
}



/* @media only screen and (min-width: 768px) {
  .w-layout-blockcontainer.resources .res-items .w-layout-cell {
    opacity: 0;
    visibility: hidden;
  }
 } */

/* MARKETO FORM DESIGN */

.get-started-form .mktoFormRow h2{
    color: var(--black);
    letter-spacing: .8px;
    font-size: 40px !important;
}

.get-started-form .mktoHtmlText.mktoHasWidth{
    margin: 0!important;
}

.get-started-form .mktoFormRow:nth-of-type(2){
    margin-bottom: 24px;
}

.mktoFormRow h3, .mktoFormRow h2{
    color: var(--black);
    letter-spacing: .64px;
    font-family: Rentsans, sans-serif!important;
    font-size: 32px!important;
    line-height: 120%!important;
    font-weight:400!important;
    margin: 0 !important;
    }
    
    .mktoForm input{
        color: var(--373839) !important;
        letter-spacing: .28px;
        border-radius: 50px;
        margin-bottom: 12px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        padding-left: 16px !important;
        padding-right: 0 !important;
        font-family: Inter Tight, sans-serif;
        line-height: 120% !important;
        width: 100% !important;
        font-size: 14px !important;
        height: auto !important;
        border:0;
    }
    
    .mktoHtmlText.mktoHasWidth {
        margin-bottom: 24px;
        width: 100%!important;
        color: var(--373839)!important;
        letter-spacing: 0;
        font-family: Inter, sans-serif;
        font-size: 15.8px;
        line-height: 120%;
        width: 100% !important;
    }
    .mktoHtmlText.mktoHasWidth p {
        width: 100%;
        color: var(--373839)!important;
    }

    .mktoForm{
        width:100%!important;
    }
    .mktoForm .mktoOffset, .mktoForm .mktoGutter, .mktoForm .mktoRequiredField label.mktoLabel {
        display: none!important;
    }

    .mktoForm .mktoFormCol {
        width: 100%;
    }
    .mktoForm .mktoFieldWrap {
        width: 100%;
    }

    select#Contact_Us_Reason__c{
        color: var(--373839);
        letter-spacing: .28px;
        border-radius: 50px;
        margin-bottom: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        font-family: Inter Tight, sans-serif;
        line-height: 120%;
        border: 0;
        width: 100%!important;
        font-size: 14px !important;
    }

    .mktoForm .mktoError .mktoErrorMsg {
        background-color: #e53b25 !important;
        background-image: none !important;
        border: 1px solid #e53b25 !important;
        text-shadow: none!important;
        box-shadow: none!important;
    }
    .mktoForm .mktoError .mktoErrorArrow {
        background-color: #e53b25!important;
        border: 1px solid #e53b25!important;
    }


/* MARKETO FORM DESIGN */