.stats-card-stacks .collection-item-3:nth-child(2n) {
    position: relative;
    top: 50%;
}
.param-container {
	display: none;
}

.kf-stats{
  padding-top:32px!important;
  }

.hero-right-container {
	clip-path: inset(0% 100% 0% 0%);
}

.gs-container,
section.prop-fixed-scroll .pfp-item {
	transform: translateY(30px);
	visibility: hidden;
	opacity: 0;
}
.select-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--indigo-200)!important;
}
  
.ff-box,
.ff-content,
.cl-logo,
.solutions-footnote,
.line-white,
.pl-logo-container.is-home,
.about-us.is-home .global-container > * {
    opacity: 0;
    visibility: hidden;
}
  
.lp-arrow.t-bg svg::hover {
    fill: #4561ec;
}
.lp-arrow.t-bg svg circle::hover, .lp-arrow.t-bg svg path::hover {
    stroke: #000;
}
.cta:hover {
    color: var(--indigo);
    background-color: rgba(0, 0, 0, 0);
}
.lp-ctahover {
    color: var(--indigo);
    background-color: rgba(0, 0, 0, 0);
}

.social-icons-div .sharing {
    transition: background-color 0.3s ease;
}

.social-icons-div .sharing:hover{
    background-color: #7E93FB;
}



/* @media only screen and (min-width: 768px) {
  .w-layout-blockcontainer.resources .res-items .w-layout-cell {
    opacity: 0;
    visibility: hidden;
  }
 } */

/* MARKETO FORM DESIGN */
.mktoFormRow h3, .mktoFormRow h2{
    color: var(--black);
    letter-spacing: .64px;
    font-family: Rentsans, sans-serif!important;
    font-size: 32px!important;
    line-height: 120%!important;
    font-weight:400!important;
    margin: 0 !important;
    }
    
    .mktoForm button.mktoButton{
        background-color: var(--indigo) !important;
    color: var(--white)!important;
    -webkit-text-fill-color: inherit;
    background-image: url(	https://cdn.prod.website-files.com/664bb28e4eaef6676bc7f01a/664bcac6d7096d06c64a8b07_Group%20422.svg) !important;
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: auto;
    background-clip: border-box;
    border-radius: 38px;
    margin-top: 0 !important;
    padding: 10px 44px 12px 20px!important;
    font-family: Inter Tight, sans-serif;
    font-size: 16px !important;
    font-weight: 600;
    line-height: normal;
    display: block;
    width: auto !important;
    text-transform: capitalize;
    height: auto;
    border:0!important;
    }
        
    .mktoForm input{
        color: var(--373839) !important;
        letter-spacing: .28px;
        border-radius: 50px;
        margin-bottom: 12px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        padding-left: 16px !important;
        padding-right: 0 !important;
        font-family: Inter Tight, sans-serif;
        line-height: 120% !important;
        width: 100% !important;
        font-size: 14px !important;
        height: auto !important;
        border:0;
    }
    
    .mktoHtmlText.mktoHasWidth {
        margin-bottom: 24px;
        width: 100%;
        color: var(--373839)!important;
        letter-spacing: 0;
        font-family: Inter, sans-serif;
        font-size: 15.8px;
        line-height: 120%;
        width: 100% !important;
    }
    .mktoHtmlText.mktoHasWidth p {
        width: 100%;
        color: var(--373839)!important;
    }
    .mktoForm .mktoRequiredField label.mktoLabel {
        display: none;
    }

    .mktoForm{
        width:100%!important;
    }
    .mktoForm .mktoOffset {
        display: none;
    }

    .mktoForm .mktoFormCol {
        width: 100%;
    }
    .mktoForm .mktoFieldWrap {
        width: 100%;
    }
/* MARKETO FORM DESIGN */